QDialog
{
	background-color: rgb(65, 65, 65);
	color: rgb(200, 200, 200);
}

QCheckBox
{
	color: rgb(200, 200, 200);
}

QLabel
{
	background-color: rgb(65, 65, 65);
	color: rgb(200, 200, 200);
}

QComboBox
{
	background-color: rgb(43, 43, 43);
	color: rgb(200, 200, 200);
}

QToolTip
{
     border: 1px solid black;
     background-color: #ffa02f;
     padding: 1px;
     border-radius: 3px;
     opacity: 100;
}

QPushButton
{	
	background-color: rgb(80, 80, 80);
	color: rgb(200, 200, 200);
}

QListWidget
{
	background-color: rgb(40, 41, 43);
	color: rgb(200, 200, 200);
}

QLineEdit
{
    background-color: rgb(43, 43, 43);
	color: rgb(200, 200, 200);
    padding: 1px;
    border-style: solid;
    border: 1px solid #1e1e1e;
    border-radius: 2;
}